:root{
    --bs--light: white;
    --bs-negative: black;
    --bs--red: rgb(255, 102, 0);
    --bs-red-subtle: rgba(255, 81, 0, 0.637);
}

.body{
    background: var(--bs--light);
    margin: 0px;
    margin: 0px;
    color: var(--bs--light);
    user-select: none;
}


/*=====
loader
==========*/
.loader-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--bs--light);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    width: 100px;
    height: 100px;
    animation: pulse 1.5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@media (max-width: 500px){
    .loader img{
        width: 200px;
        height: 200px;
    }
}


/*=======
checkout
===========*/
.checkout{
    position: fixed;
    right: 19px;
    bottom: 13px;
    background: var(--bs-red-subtle);
    color: white;
    padding: 11px 16px;
    border: 1px solid rgba(0, 0, 0, 0.637);
    border-radius: 50%;
    z-index: 15;
    font-size: 25px;
    cursor: pointer;
}
.checkout i{
    color: var(--bs--light);
}
.checkout:hover{
    transition: .5s ease-in-out;
    animation: rise .5s ease-in;
}
@keyframes rise {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(2px);
    }
}
@media (max-width: 500px){
    .checkout{
        right: 5px;
        bottom: 7px;
        font-size: 15px;
        padding: 10px 13px;
        z-index: 10;
    }
}

/*=======
navbar
===========*/
.nav-contain{
    position: fixed;
    width: 100%;
    z-index: 15;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.603);
    height: 60px;
    z-index: 15;
}
.navbar .logo img{
    height: 90px;
    margin-top: 5px;
    margin-left: 10px;
    position: relative;
    transition: .7s ease-in-out;
}

.navbar ul{
    display: flex;
    padding: 0px;
}
.navbar li{
    list-style-type: none;
    margin: 10px;
}
.navbar li a{
    text-decoration: none;
    color: var(--bs--light);
    font-weight: 600;
    transition: .5s ease-in-out;
}
.navbar li a:hover{
    color: red;
    transition: .5s ease-in-out;
}
.navbar li:hover{
    color: red;
    transition: .5s ease-in-out;
}
.navbar .profile-section{
    color: var(--bs--light); 
    position: absolute;
    right: 2%;
    margin-bottom: 1px;
    transition: .7s ease-in-out;
}
.profile-section .bi-person-circle{
    font-size: 22px;
    cursor: pointer;
    margin: 0px 5px;
    transition: .7s ease-in-out;
}
.profile-section .bi-person-circle:hover{
    color: red;
    transition: .7s ease-in-out;
}
.profile-section a{
    text-decoration: none;
    border: 1px solid var(--bs--light);
    border-radius: 5px;
    padding: 5px;
    color: var(--bs--light);
    transition: .7s ease-in-out;
}
.profile-section a:hover{
    color: red;
    border-color: red;
    transition: .7s ease-in-out;
}
.profile-section .bi-list{
    position: relative;
    color: var(--bs--light);
    cursor: pointer;
    top: 2.4px;
    padding:2px 9px;
    border: 1px solid var(--bs--light);
    border-radius: 5px;
    font-size: 20px;
    transition: .7s ease-in-out;
    visibility: hidden;
}
.profile-section .bi-list:hover{
    color: red;
    border-color: red;
    transition: .7s ease-in-out;
}
@media (max-width: 990px){
    .navbar .logo img{
        height: 90px;
        top: -34px;
        margin-left: -17px;
        position: relative;
        transition: .7s ease-in-out;
    }
    .profile-section .bi-list{
        visibility: visible;
        transition: .5s ease-in-out;
    }
}
@media (max-width: 500px){
    .profile-section .bi-person-circle{
        font-size: 25px;
        position: relative;
        top: 4px;
        margin: 3px 5px;
        transition: .7s ease-in-out;
    }
    .profile-section a{
        text-decoration: none;
        border: 1px solid var(--bs--light);
        border-radius: 5px;
        font-size: .8rem;
        padding: 7px 5px;
        color: var(--bs--light);
        transition: .7s ease-in-out;
    }
    .profile-section .bi-list{
        position: relative;
        color: var(--bs--light);
        cursor: pointer;
        top: 2.4px;
        padding: 6px 9px;
        border: 1px solid var(--bs--light);
        border-radius: 5px;
        font-size: 18px;
        transition: .7s ease-in-out;
    }

}
/*=====
offcanvas
=================*/
.offcanvas{
    background: var(--bs--light);
    width: 160px !important;
}
.offcanvas-body ul li{
    list-style-type: none;
    text-transform: capitalize;
    position: relative;
    right: 30px;
    font-weight: 900;
    margin: 25px 0px;
}
.offcanvas-body ul li a{
    text-decoration: none;
    color: var(--bs-negative);
    font-weight: 900;
    font-size: 1rem;
    margin: 25px 0px;
}
.offcanvas-body ul li a:hover{
    color: var(--bs--red);
    transition: .5s ease-in-out;
}
.offcanvas-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;
    background: linear-gradient(rgb(194, 103, 103), rgb(138, 1, 1));
    color: white;
    padding: 10px 0px;
}
.offcanvas-footer ul li{
    list-style-type: none;
    margin: 0px 10px;
    font-weight: 600;
    cursor: pointer;
}
.offcanvas-footer ul li:active{
    color: var(--bs--light);
    transition: .5s ease-in-out;
}


/*=====
navbar hero
=================*/
.navbar-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.505), rgba(0, 0, 0, 0.471)), url(../img/header/cooking-2132874_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.navbar-hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-hero-text{
    text-transform: capitalize;  
    transition: .5s ease-in-out;
}
.navbar-hero-text em{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
    transition: .5s ease-in-out;
}
.navbar-hero-text p{
    text-align: center;
    margin-top: -1px;
    font-size: 1rem;
    transition: .5s ease-in-out;
}
@media (max-width: 450px){
    .navbar-hero-text{
        text-transform: capitalize;  
        transition: .5s ease-in-out;
    }
    .navbar-hero-text em{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 3rem;
        transition: .5s ease-in-out;
    }
    .navbar-hero-text p{
        text-align: center;
        margin-top: -1px;
        font-size: .8rem;
        transition: .5s ease-in-out;
    }

}

/*=====
order
=============*/
.therez-orderlist-image img{ 
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
}
.therez-orderlist-text h3{
    color: var(--bs--red);
    font-weight: 900;
}
.therez-orderlist-text i{
    font-weight: 800;
}
.therez-orderlist-text p{
    color: var(--bs-negative);
}
.therez-orderlist-text a{
    border: 1px solid rgb(255, 0, 0);
    color: red;
}
.therez-orderlist-text a:hover{
    background: var(--bs--red);
    transition: .5s ease-in-out;
}


/*=====
therez top-choice
=================*/
.therez-topchoice{
    font-family: crowy;
}
.therez-topchoice .carousel-item #madeline-tc-head{
    color: rgb(0, 0, 0);
    backdrop-filter: blur(5px), ;
    margin:0 50px auto;
}
.therez-topchoice .topchoice-btn{
    background: var(--text-main);
    color: white;
    transition: .5s;
}
.therez-topchoice .topchoice-btn:hover{
    background: var(--text-main);
}
.therez-bottom .topchoice-btn{
    width: 15rem;
    border: 1px solid white;
    color: white;
    transition: .7s ease-out;
}
.therez-bottom .topchoice-btn:hover{
    border: none;
    background: var(--bs--red);
}
/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
.carousel-indicators{
    z-index: 1;
}
 /* Since positioning the image, we need to help out the caption */
.carousel-caption{
    bottom: 3rem;
    z-index: 1;
} 
/* Declare heights because of positioning of img element */
.carousel-item {
    height: 50rem;
}
.therez-carousel img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.therez-carousel .gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(56, 50, 50, 0.068), rgba(0, 0, 0, 0.774));
}
/* cat precaution */
.precaution{
  text-align: center;
}
.out{
  outline: none;
  text-decoration: none;
}
@media (max-width: 1100px){
    .madeline-topchoice .topchoice-btn{
        background: var(--text-main);
        color: white;
        transition: .5s;
    }
}
@media (max-width: 760px){
    .therez-carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    }
}


/*=====
therez menu
=================*/
/*===========
madeline menu
====================*/
.menu{
    font-family: crowy;
}
.menu .title{
    font-family: crowy;
    text-align: center;
    word-spacing: .2cm;
    margin: 0px 10px;
}
.menu .title h1{
    color: var(--bs--red);
    font-weight: 700;
}
.menu .title h5{
    color: var(--bs--red);
    font-weight: 700;
    word-spacing: normal;
}
.therez-menu-nav a{
    text-decoration: none;
}
.therez-menu-nav a h6{
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    transition: .5s;
}
.therez-menu-nav a h6:hover{
    color: var(--bs--red);
}
.therez-menu-nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow-x: scroll;
}
.therez-menu-nav::-webkit-scrollbar{
    width: 0px;
}
.therez-menu-nav li{
    display: flex;
    text-wrap: nowrap;
    margin: 5px 15px;
}
.therez-menu-tab h5 .price{
    color: var(--bs--red);
}
.therez-menu-tab h5 span{
    font-family: sunflower;
    font-size: 1.7rem;
    color: black;
}
.menu .title-nav::-webkit-scrollbar{
    width: 0px;
}
.menu .title-nav{
    display: flex;
    overflow-x: scroll;
    outline: none;
}
.menu .title-nav h4{
    cursor: pointer;
}
.menu .title-nav h4:hover{
    color: var(--text-main);
}
.menu .title i{
    font-size: 35px;
}
/* beverages */
.menu .box-container{ 
    margin: 20px auto;
    columns: 5;
    column-gap: 10px;
}
.menu .box-container .box{
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    break-inside: avoid;
    transition: .5s ease-in-out;
}
.menu .box-container .box:hover{
    transform: translateY(-5px);
}
.menu .box-container .box:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.137), rgba(72, 0, 0, 0.838));
    z-index: 2;
    transition: 0.01s all ease-out;
    opacity: 1;
}
.box-container .box img{
    max-width: 100%;
    border-radius: 15px;
}
@media (min-width: 1220px) {
    .menu .title-nav{
        display: flex;
        justify-content: center;
        overflow-x: scroll;
        outline: none;
    }
}
@media (max-width: 1200px){
    .menu .title-nav{
        display: flex;
        justify-content: center;
    }
    .menu .box-container{
        width: calc(100% - 40px);
        columns: 4;
    }
}
@media (max-width: 760px){
    .menu .title-nav{
        display: flex;
        justify-content: start;
    }
    .menu .box-container{
        columns: 2;
    }
    .therez-menu-tab h5 span{
        font-family: sunflower;
        font-size: 1.5rem;
        font-weight: 900;
        color: black;
    }
}
/*======
therez events
===============*/
.owl-carousel .item{
    z-index: 7;
    width: 600px;
    height: 40vh;
}
.owl-carousel .contain .gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(56, 50, 50, 0), rgb(0, 0, 0));
    transition: 7s ease-out;
}
.owl-carousel .contain .gradient:hover{
    background: linear-gradient(rgba(56, 50, 50, 0), rgba(0, 0, 0, 0));
}
.owl-carousel .item:hover{
    transform: translateY(10px);
    transition: .7s ease;
}
.owl-carousel .item img{
    z-index: 5;
    width: 60vh;
    height: 100%;
    object-fit: cover;
    background-position: center;
}


/*======
therez contact
===================*/
.therez-contact-info i{
    font-size: 1.5rem;
    margin-right: 10px;
}
.therez-contact-info span{
    font-size: 1.2rem;
    font-weight: 600;
}
.therez-contact-form input, .therez-contact-form textarea{
    text-align: center;
}
.therez-contact-form button{
    background: var(--bs--red);
    color: white;
    font-weight: 700;
    transition: .5s ease-in-out;
}
.therez-contact-form button:hover{
    background: rgb(204, 1, 1);
    color: white;
    transition: .5s ease-in-out;
}


/*=====
therez location
============*/
.therez-map iframe{
    width: 100%;
    height: 42em;
    border: none;
}


/*======
therez float-animate
===================*/




@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}


/*======
footer
==========*/
.footer{
    color: var(--bs-negative);
}
.footer-text-main{
    margin-bottom: 2em;
}
.footer-text-main img{
    height: 150px;
    position: relative;
    right: 25px;
    bottom: 30px;
}
.footer-text-main b{
    position: relative;
    right: 50px;
    bottom: 30px;
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
}
.footer-text-main p{
    text-transform: capitalize;
    position: relative;
    bottom: 70px;
    font-weight: 400;
    margin-top: 1em;
    max-width: 500px;
}
.footer-text-main-icon i{
    font-size: 1.5rem;
    margin: 0px 5px;
}
.footer-text-main-icon i:hover{
    color: var(--bs--red);
    cursor: pointer;
    transition: .5s ease-in-out;
}
.footer-text{
    margin-bottom: 2em;
}
.footer-text b{
    font-weight: 900;   
    margin-top: 2em; 
    text-transform: capitalize;
    margin-bottom: 5px;
}
.footer-text p{
    margin-bottom: 5px;
    font-weight: 400;
    transition: .5s ease-in-out;
}
.footer-text p:hover{
    color: var(--bs--red);
}
.footer-honours{
    justify-content: space-between;
    
}
.footer-honours a{
    color: var(--bs-negative);
    margin: 0px 10px;
    transition: .5s ease-in-out;
}
.footer-honours a:hover{
    color: var(--bs--red);
}
@media (max-width: 760px){
    .footer-text-main b{
        font-size: 1.2rem;
        font-weight: 900;
        text-transform: capitalize;
    }
    .footer-honours{
        flex-direction: column;
    }
    .footer-honours a{
        margin: 5px 0px;
    }
}